th, td {
  /* border: 2px solid aquamarine; */
  padding: 5px
}


table {
  width: 75%;
  border-spacing: 5px;
  border-collapse: collapse;
}

/* 
.col-email {
  width: 700px
} */


/* tr:nth-child(odd) {
  background-color: aquamarine;
} */

tr {
  border-bottom: 1px solid gray;
}

/* tr:hover {
  background-color: aqua;
} */
